@using QuizCreator.Models.ViewModels
@model UserVM
@{
    ViewData["Title"] = "Manage Users";
}
<br />
<section class="text-center">
    <h1>@ViewData["Title"]:</h1>
</section>
<hr />
<div class="container col col-md-8">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Username:</th><th>Roles:</th><th>Sign-Up Date:</th><th></th></tr>
        </thead>
        <tbody>
        @if (Model.AppUsers.Count() == 0)
        {
            <tr><td colspan="5">There are no user accounts.</td></tr>
        }
        else
        {
            @foreach (AppUser appUser in Model.AppUsers)
            {
                <tr>
                    <td><a asp-action="UpdatePassword" asp-route-id="@appUser.Id" title="Change Password">@appUser.UserName</a></td>
                    <td>
                    @foreach (string roleName in appUser.RoleNames)
                    {
                        <div>@roleName</div>
                    }
                    </td>
                    <td><abbr title="@appUser.SignUpDate.ToString()">@appUser.SignUpDate.ToShortDateString()</abbr></td>
                    <td>
                        <form class="float-start" method="post" asp-action="Delete" asp-route-id="@appUser.Id">
                        @if (appUser.RoleNames.Contains("Admin"))
                        {
                            <button disabled type="submit" class="btn btn-outline-danger me-1">Delete User</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger me-1">Delete User</button>
                        }
                        </form>
                        <form class="float-start" method="post">
                            <div class="dropdown float-start">
                                <button class="btn btn-primary dropdown-toggle me-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add To Role</button>
                                <ul class="dropdown-menu">
                                @foreach (var role in Model.Roles)
                                {
                                    <li><button class="dropdown-item" asp-action="AddToRole" asp-route-userId="@appUser.Id" asp-route-roleId="@role.Id" type="submit">@role.Name</button></li>
                                }
                                </ul>
                            </div>
                        </form>
                        <form class="float-start" method="post">
                            <div class="dropdown float-start">
                                <button class="btn btn-primary dropdown-toggle me-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Remove From Role</button>
                                <ul class="dropdown-menu">
                                @foreach (var role in Model.Roles)
                                {
                                    @if (Model.AppUsers.Where(r => r.RoleNames.Contains("Admin")).Count() == 1 && role.Name == "Admin")
                                    {
                                        <li><button disabled class="dropdown-item">@role.Name</button></li>
                                    }
                                    else
                                    {
                                        <li><button class="dropdown-item" asp-action="RemoveFromRole" asp-route-userId="@appUser.Id" asp-route-roleId="@role.Id" type="submit">@role.Name</button></li>
                                    }
                                }
                                </ul>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        }
            <tr><td colspan="5" class="text-center"><a asp-action="Add" class="text-white"><h4><i class="fa-solid fa-circle-plus"></i></h4></a></td></tr>
    </tbody>
</table>
<h1 class="mb-2">Manage Roles</h1>
@if (Model.Roles.Count() == 0)
{
    <form method="post" asp-action="CreateRole">
        <input hidden name="roleName" value="Admin"/>
        <button type="submit" class="btn btn-primary">Create Admin Role</button>
    </form>
}
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Role:</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            @if (role.Name == "Admin") {
                                <button disabled type="submit" class="btn btn-outline-danger">Delete Role</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-danger">Delete Role</button>
                            }
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <form method="post" asp-action="CreateRole">
                    <td>
                        <input type="text" name="roleName" value="" />
                    </td>
                    <td>
                            <button type="submit" class="btn btn-primary">Add Role</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
}
</div>